.header {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
}

.header .header-container {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.nav-logo img {
  width: 10rem;
  height: 3rem;
}

.login-btn {
  padding: 10px 50px;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
}


@media (max-width: 1200px) {
  .header .header-container {
    width: 100%;
    padding: 0 1rem 1.5rem;
  }
}

@media (max-width: 1000px) {
  .phoneNumber p {
    padding: 0 1rem;
  }

  .callBtn {
    width: 180px;
  }

  .callBtn span {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .phoneNumber {
    background: none;
  }

  .phoneNumber p {
    padding: 0 1rem;
    text-align: end;
  }

  .phoneNumber br {
    display: block;
    text-align: left;
    background: none;
  }

  .callBtn {
    display: none;
  }

  .onlyCallBtn {
    display: block;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .onlyCallBtn .icon {
    font-size: 2rem;
    color: var(--btnColor);
  }
}
